/* GLOBAL */
:root {
    /* COLOR */
    --color-white: #fff;
    --color-black: #000;
    --color-green: #1a3431;
    --color-blue: #023044;
    --color-yellow: #f3cc62;
    --color-purple: #341877;
    --color-gray: #778282;

    /* FONT SIZE */
    --font-large: 3rem;
    --font-medium: 1.75rem;
    --font-reqular: 1.125rem;
    --font-small: 1rem;
    --font-micro: .875rem;

    /* FONT WEIGHT */
    --weight-bold: 700;
    --weight-semi-bold: 760;
    --weight-reqular: 400;

    /* SIZE */
}

/* COMMON */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.section {
    padding: 3.125em;
    text-align: center;
    margin: 0 auto;
}

.section__container {
    max-width: 1200px;
}

/* 폰트 */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin-bottom: 1em;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
}

h3 {
    font-size: var(--font-reqular);
    font-weight: var(--weight-reqular);
    color: var(--color-black);
}

p {
    font-size: var(--font-reqular);
    font-weight: var(--weight-reqular);
    color: var(--color-black);
    white-space: pre-wrap;
}

/* NAV */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #341877;
    color: var(--color-white);
    padding: 1rem;
    border-bottom: 1px solid;
}

.navbar__logo {
    color: var(--color-white);
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    transition: color .3s;
}

.navbar__logo:hover {
    color: var(--color-yellow);
}

.navbar__logo i {
    font-size: var(--font-medium);
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__menu li.navbar__menu__item {
    cursor: pointer;
    font-weight: var(--weight-bold);
    padding: .3em .8em;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s;
}

.navbar__menu li.navbar__menu__item.active {
    border: 1px solid var(--color-white);
    box-sizing: border-box;
}

.navbar__menu li.navbar__menu__item:hover {
    background-color: var(--color-yellow);
    color: var(--color-green);
    border-radius: 13% 87% 8% 92% / 74% 28% 72% 26%;
}

.navbar__menu li+li {
    margin-left: 1em;
}

/* HOME */

#home {
    background-color: var(--color-yellow);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__profile {
    max-width: 280px;
    border-radius: 50%;
}

.home__title {
    margin-left: 1em;
    color: var(--color-white);
}

/* ABOUT */
#about {}

#about p {
    font-weight: bolder;
    color: var(--color-green);
}

.about__majors {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.about__majors li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    max-width: 300px;
    border: 1px solid var(--color-gray);
    border-radius: 5%;
    flex-wrap: wrap;
    transition: all .3s;
}

.about__majors>li>i {
    font-size: 10em;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(2, 48, 68, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .3s;
}

.about__majors li:hover {
    transform: rotate(10deg)
}

.about__majors li:hover i {
    background: var(--color-yellow);
    background: linear-gradient(0deg, var(--color-yellow) 0%, rgba(2, 48, 68, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: scale(1.1);
}

.about__majors li h3 {
    font-weight: bolder;
    color: var(--color-gray)
}

.career {
    max-width: 800px;
    margin: 0 auto;
}

.career .career__list {
    font-size: var(--font-reqular);
    font-weight: bold;
    padding: 10px;
}

.career li+li {
    border-top: 0 !important;
}

.career .career__list .career__period {
    display: block;
    padding-bottom: 0.5em;
    color: var(--color-gray);
}

/* SKILLS */

#skills {
    background-color: var(--color-blue);
}

#skills h1,
h2,
.item {
    color: var(--color-yellow)
}

.skillset {
    display: flex;
    margin: 1em 0;
}

.skillset .skillset__left,
.skillset__right {
    padding: 2.2em;
}

.skillset .skillset__left {
    flex-basis: 60%;
    background-color: var(--color-black);
}

.skill .item .skill__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25em;
}

.skill .item .skill__bar {
    width: 100%;
    height: 3px;
    background-color:var(--color-white);
    margin-bottom: 1.25em;
}
.skill .item .skill__bar .skill__value {}

.skillset .skillset__left .skillset .skillset__right {
    flex-basis: 40%;
    background-color: var(--color-gray);
}

.skillset .skillset__title {
    color: var(--color-white);
    font-weight: bolder;
}

.skillset .skillset__right .etc {
    background-color: var(--color-yellow);
}