/* GLOBAL */
:root {
    /* COLOR */
    --color-white: #fff;
    --color-black: #000;
    --color-green: #1a3431;
    --color-blue: #023044;
    --color-yellow: #f3cc62;
    --color-purple: #341877;
    --color-gray: #778282;

    /* FONT SIZE */
    --font-large: 3rem;
    --font-medium: 1.75rem;
    --font-reqular: 1.125rem;
    --font-small: 1rem;
    --font-micro: .875rem;

    /* FONT WEIGHT */
    --weight-bold: 700;
    --weight-semi-bold: 760;
    --weight-reqular: 400;

    /* SIZE */
}

/* 공통 */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

/* 폰트 */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
}

h3 {
    font-size: var(--font-reqular);
    font-weight: var(--weight-reqular);
    color: var(--color-black);
}

p {
    font-size: var(--font-reqular);
    font-weight: var(--weight-reqular);
    color: var(--color-black);
}

/* NAV */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #341877;
    color: var(--color-white);
    padding: 1rem;
    border-bottom: 1px solid;
}

.navbar__logo {
    color: var(--color-white);
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    transition: color .3s;
}

.navbar__logo:hover {
    color: var(--color-yellow);
}

.navbar__logo i {
    font-size: var(--font-medium);
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__menu li.navbar__menu__item {
    cursor: pointer;
    font-weight: var(--weight-bold);
    padding: .3em .8em;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s;
}

.navbar__menu li.navbar__menu__item.active {
    border: 1px solid var(--color-white);
    box-sizing: border-box;
}

.navbar__menu li.navbar__menu__item:hover {
    background-color: var(--color-yellow);
    color: var(--color-green);
    border-radius: 13% 87% 8% 92% / 74% 28% 72% 26%;
}

.navbar__menu li+li {
    margin-left: 1em;
}

/* HOME */

#home {
    background-color: var(--color-yellow);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__profile {
    max-width: 280px;
    border-radius: 50%;
}

.home__title {
    margin-left: 1em;
    color:var(--color-white);
}